* {
   font-family: Arial, Verdana, sans-serif;
}

.wrapper {
  padding: 10px;
}

form {
  margin-bottom: 10px;
}

.list {
  margin-top: 10px;
}

.list--column {
  flex-wrap: wrap;
  display: flex;
}

.list--column li {
  flex: 1 0 25%;
}
